@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: url('bg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    animation: animateBg 5s linear infinite;
}

@keyframes animateBg {
    100% {
        filter: hue-rotate(360deg);
    }
}

.login-box {
    width: 400px;
    min-height: 450px;
    border-radius: 20px;
}

.register-box {
    width: 750px;
    border-radius: 10px;
    color: #fff;
}

.login-box, .register-box {
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);
}

.register-input {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.input-box, .input-field {
    position: relative;
    width: 310px;
    margin: 30px;
    border-bottom: 2px solid #fff;

}

.input-box label, .input-field label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label, .input-box input:valid~label, .input-field input:focus~label, .input-field input:valid~label {
    top: -5px;
}

/* 
.input-box input:focus~label -> When the input is focused, target the label beside it. 

.input:valid -> keeps the label floating upward even after the user stops focusing the input

**Without :valid:**

user clicks input → label moves up
user types text
user clicks outside → label falls back down

That would overlap the typed text.

**With :valid:**

once text is entered correctly,
label stays above permanently.
*/

.input-box input, .input-field input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    padding: 0 8px 0 5px;
}

.input-box .icon, .input-field .icon {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    line-height: 57px;
}

.remember-forgot {
    margin: -15px 0 15px;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    margin: 3px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

button {
    width: 100%;
    height: 40px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #000;
    font-weight: 500;
}

.register-link {
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

@media (max-width: 360px) {
    .login-box, .register-box {
        width: 100%;
        height: 100vh;
        border: none;
        border-radius: 0;
    }

    .input-box, .input-field {
        width: 290px;
    }

}