@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}

.login-box {
    position: relative;
    width: 400px;
    height: 450px;
    background: red;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.input-box {
    position: relative;
    width: 310px;
    margin: 30px;
    border-bottom: 2px solid #fff;

}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label, .input-box input:valid~label {
    top: -5px;
}

/* 
.input-box input:focus~label -> When the input is focused, target the label beside it. 

.input:valid -> keeps the label floating upward even after the user stops focusing the input

**Without :valid:**

user clicks input → label moves up
user types text
user clicks outside → label falls back down

That would overlap the typed text.

**With :valid:**

once text is entered correctly,
label stays above permanently.
*/

.input-box input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
}

.icon.input-box {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    line-height: 57px;
}