* {
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
    background: #f6f6f6;
}

header {
    background: #008489;
    height: 66px;
}

header * {
    color: white;
    font-family: 'Lora', serif;
}

header .logo {
    float: left;
    height: inherit;
    margin-left: 2em;
}

header .logo-text {
    margin: 10px;
    font-family: 'Candal', serif;
}

header .logo-text span {
    color: #05f7ff;
    font-family: 'Candal', serif;
}

header ul {
    float: right;
}

header .menu-toggle {
    display: none;
}