* {
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
    background: #f6f6f6;
}

header {
    background: #008489;
    height: 66px;
}

header * {
    color: white;
    font-family: 'Lora', serif;
}

header .logo {
    float: left;
    height: inherit;
    margin-left: 2em;
}

header .logo-text {
    margin: 10px;
    font-family: 'Candal', serif;
}

header .logo-text span {
    color: #05f7ff;
    font-family: 'Candal', serif;
}

header ul {
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
}

header ul li {
    float: left;
    position: relative;
}

header ul li ul {
    position: absolute;
    top: 66px;
    right: 0;
    width: 180px;
    display: none;
}

header ul li:hover ul {
    display: block;
}

header ul li ul li {
    width: 100%;
}

header ul li ul li a {
    padding: 10px;
    background: white;
    color: #444;
}

header ul li ul li a.logout {
    color: red;
}

header ul li ul li a:hover {
    background: #d5d6d6;
}

header ul li a {
    display: block;
    padding: 21px;
    font-size: 1.1em;
    text-decoration: none;
}

header ul li a:hover {
    background: #006669;
    transition: 0.5s ease;
}

header .menu-toggle {
    display: none;
}

.fa-user, .fa-chevron-down {
    font-size: .8em;
}

/* .nav li ul {
    left: 0;
} */

/* Media queries */

@media only screen and (max-width: 750px) {
    header {
        position: relative;
    }

    header ul {
        width: 100%;
        background: #0E94A0;
        max-height: 0;
        overflow: hidden;
    }

    header ul li {
        width: 100%;
    }

    header ul li ul {
        position: static;
        display: block;
        width: 100%;
    }

    header ul li ul li a {
        padding: 10px;
        background: #0E94A0;
        color: white;
        padding-left: 50px;
    }

    header ul li ul li a.logout {
        color: red;
    }

    header .menu-toggle {
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
        font-size: 1.9em;
    }
}