header {
  background: #01474a;
}

.admin-wrapper {
    display: flex;
    height: calc(100% - 66px);
}

.admin-wrapper .left-sidebar {
    flex: 2;
    height: 100%;
    background: #234a57;
}

.admin-wrapper .left-sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: aliceblue;
}

.admin-wrapper .left-sidebar ul li a {
    padding: 18px;
    display: block;
    border-bottom: 1px solid #004044;
}

.admin-wrapper .left-sidebar ul li a :hover{
    background: #004044;
}

.admin-wrapper .admin-content {
    flex: 8;
    height: 100%;
}